/*******GENERALES******/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  
}



/*******PAGINA HOME******/

/**header y footer**/

header {
  width: 100%;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 200px;
  height: 80px;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.menu, .user {
  display: flex;
  align-items: center;
}

.navigation li {
  margin: 0 10px;
}
.navigation li a {
  color: black;
}

.mobile-menu {
  display: none;
  width: 20px;
  margin-left: 20px;
  padding: 19px 0;
}

.search-form {
  display: flex;
  justify-content: center;
}

.search {
  width: 600px;
  height: 30px;
  border: solid 1px #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  padding: 0 10px;
}

.search-button {
  width: 100px;
  height: 30px;
  border: solid 1px #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.footer {
  display: block;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
}

/**recetas home**/ /**Tambien en categories y search-results**/
.main-home {
  margin-bottom: 100px;
}
.container-products {
  width: 90%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  background: #ffffff;
  padding: 20px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}
.product-card {
  background-color: white;
  width: 20%;
  border: 1px solid black;
}
.product-details {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.product-details p {
  margin-top: 10px;
  width: 100%;
  word-wrap: break-word;
  text-align: center;
}

.receta-name {
  font-weight: bold;
  font-size: 16px;
}

.product-details img {
  max-width: 100%;
}

.product-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-actions a {
  border-radius: 4px;
  text-decoration: underline;
  gap: 10px;
}

.add-more {
  margin: 20px auto;
  width: 100px;
  height: 30px;
  border: solid 1px black;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/********PAGINA RECETA********/

.container-receta {
  height: 100vh;
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 20px; 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  background-color: #f9f9f9; 
}

.container-details {
  width: 80%;
  display: flex; 
  gap: 20px;
  border: solid 1px black;
  padding: 10px;
}

.container-img-receta {
  display: flex;

}

.img-receta-detalle {
  width: 100%; 
  height: auto; 
  border-radius: 8px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

article {
  display: flex; 
  flex-direction: column; 
  gap: 10px; 
}

.name-receta-detalle {
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

.preparation, .cook-time, .categorias {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.categorias {
  font-style: italic;
  color: #777;
}

.categorias a {
  color: blue;
}


/********PAGINA CATEGORIES********/

.main-categorias {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.title-categorias {
  text-align: center;
  margin-top: 20px;
}

.tag-name a {
  color: black;
}

.container-tags {
  width: 90%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  background: #ffffff;
  padding: 20px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

.container-tags article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: solid 1px black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

.tag-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*******PAGINA LOGIN Y PAGINA REGISTER******/

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container-forms{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center ;
}

.column-medium {
  width: 400px;
  height: 300px;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.column-medium h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 18px;
  color: #333;
}

.form-contact .group-form {
  margin-bottom: 15px;
}

.form-contact label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.form-contact a {
  text-decoration: underline;
  color: #007bff;
}

.input-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.button-submit {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.checkbox-terms {
  display: flex;
  align-items: center;
}

.label-checkbox {
  margin-left: 5px;
}


/* Resoluciones menores a 1024px */
@media (max-width: 1024px) {
  header {
    flex-direction: row;
    align-items: center;
  }
  .search {
    width: 90%;
  }

  .product-card {
    width: 25%;
  }

  .container-products {
    gap: 60px;
  }

  .container-details {
    width: 95%;
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  header {
    padding: 10px;
    height: 80px;
  }

  .navigation {
    
  }

  .logo {
    width: 150px;
    height: auto;
  }

  .search, .search-form {
    display: none;
  }

  .product-card {
    width: 40%;
  } 

  .container-products {
    gap: 60px;
  }

  
}

@media (max-width: 480px) {

  header {
    flex-direction: column;
    height: auto;
  }
  
  .navigation {
    flex-direction: column;
    height: auto;
    padding: 10px;
    border: 1px solid red;
  }
  .user, .menu {
    flex-direction: column;
    width: 100%;
    background-color: black;
    border: 1px solid white;
  }

  .user li a, .menu li a {
    color: white;
    text-align: center;
  }

  .user li, .menu li {
    width: 100%;
    border: solid 1px white;
    text-align: center;
  }

  .container-details {
    flex-direction: column;
  }

  .container-receta{
    width: 100%;
    height: auto;
    margin-bottom: 100px;
  }

  .name-receta-detalle{
    text-align: center;
  }

  .product-card {
    width: 100%;
  }

  .column-medium {
    width: 100%;
  }

  .row-center {
    width: 90%;
  }
}



